    <div class="col-md-6">
        <img src="{{singleUser.avatar_url}}" width="150" height="150" class="pull-left photo">
        <h4 >{{singleUser.login}}</h4>
        <p class="list-group-item-text title">Git Sore: {{singleUser.score}}</p>
      </div>
      <div class="col-md-4">
          <p class="list-group-item-text title">User type: {{singleUser.type}}</p>
          <a href="{{singleUser.html_url}}"><img src="assets/mark.png"></a>
        </div>
      <div class="col-md-2" class="buttonsFav">
          <button class="btnList" [routerLink]="['/user-repos']" (click)="addRepoUrl()" *ngIf="pageType" class="btn btn-primary">List Repos</button>
          <button *ngIf="auth.isAuth() && pageType" (click)="addUser()" [disabled]="markerCheck()" class="bntList btn btn-danger">Favorite</button>
          <button class="btnList btn btn-warning" *ngIf="!pageType" (click)="removeUser()">Remove</button>
      </div>


